<script type="text/template" id="tmplConfigItem">
  <div class="pnlConfigItem">
    <div id="lblConfig_((appConfigID))" class="lblConfigName">((appConfigName))</div><div id="lblConfigVal_((appConfigID))" class="lblConfigValue">((appConfigValReadOnly))</div>
  </div>
</script>

<div id="pnlConfigContent">
</div>
<div class="pnlButtons">
  <button type="button" id="btnConfigRefresh" class="pulsing3DButton" value="tabConfigRefresh">Refresh</button>&nbsp;&nbsp;<button type="button" id="btnConfigEdit" class="pulsing3DButton" value="editConfig">Edit</button>
</div>